language: python
dist: focal 
sudo: false
notifications:
  email: false
branches:
  only:
    - master
cache:
  pip: true
services:
  - redis-server
python:
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.10"
install:
  - pip install -U pip setuptools
  - pip install -r requirements.txt
script:
  - set -e
  - coverage run --source=cronman/ setup.py test
  - coverage report
