<h1>--->>> TEST <<<---</h1>
{% extends 'admin/change_list.html' %}
<h1>--->>> TEST <<<---</h1>
{% block extrahead %}
  {{ block.super }}
  <li>
    <a href="{% url "admin:moto_dealer_accessory_group_import" %}">TESTE</a>
  </li>

{#<style type="text/css">#}
{#  #id_my_field { width: 100px; }#}
{#  div.breadcrumbs {#}
{#      word-break: break-word;#}
{#  }#}
{##}
{#  .form-row {#}
{#      word-break: break-word;#}
{#  }#}
{##}
{#  ul.messagelist li {#}
{#      word-break: break-word;#}
{#  }#}
{#</style>#}

  <style type="text/css">
  fieldset.grid .form-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 1px solid #fff;
  }

  fieldset.grid .form-row:last-child {
    border: none;
  }

  fieldset.collapsed.grid .form-row {
    display: none;
  }

  fieldset.grid {
    background: #f1f2f6;
    border-radius: 4px;
  }

  fieldset.grid h2 {
    border-radius: 4px 4px 0 0;
  }


  </style>
{% endblock %}
